@import url("https://fonts.googleapis.com/css?family=Pacifico");

html{
  background-color: #f4f4f4;
}
.logo{
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
  line-height: 10px;
}
header ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font: 24px;
  font-weight: bold;
  background-color: #373737;
  color: white;
}
ul {
  padding: 14px 16px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: white;
}
.content{
  margin-top: 2em;
}

@media only screen and (max-width: 650px) {
  header ul {
    font-size: 14px;
  }

}
/*******************drop down menu start ********************/

/*******************drop down menu end ********************/
