

html {
 box-sizing: border-box;
 overflow-x: hidden;
 height: 100%;

}
*{
 margin: 0;
}
.wrapper {
 display: flex;
 flex-direction: column;
 font-family: 'Ubuntu', sans-serif; 
 background: #FFCD50;

}

.wrapper>* {
 flex: 1 100%;
}

a, a:visited{
 text-decoration: none;
 color: black;
 font-weight: bold;
}

header{
 display: flex;
 flex: 0 0 auto;
 margin-bottom: 20px;
 padding-top: 1.5em;
 margin-left: 2.5em;
 margin-right: 2.5em;
 width: auto;
}

.nav_list{
 display: flex;
}

nav{
 display: flex;
}
.nav_list_item{
 padding-right: 1em;
}
.nav_right{
 margin-left:auto;
}
/* .nav_list {
 display: flex;
 justify-content: flex-end;
 margin-bottom: 20px;
 padding-top: 1.5em;
 margin-left: 2.5em;
 margin-right: 2.5em;
}

.nav_list .nav_list_item {
 margin-right: 1em;
} */

.accent1 {
 color: white;
 font-size: 6vw;
 margin-left: .5em;
 margin-top: 0.15em;
 font-style: italic;
 font-weight: bold;
}

.about {
 background: #FFCD50;
 display: flex;
 height: auto;
 margin-bottom: 20px;
}

.about_me_desc {
 width: 66%;
 margin-left: 7em;
 padding-top: 3em;
}

.about_me_desc img{
  width: 600px;
  height: 300px;
  padding-left: 60px;
  margin-bottom: 10px;
}
.my_work h2{
 text-align: center;
 display: block;
}

.my_work {
 background: pink;
}
.my_work1, .my_work2 {
 width: 50%;
 height: auto;
 margin-left: 1em;
 margin-right: 1em;
}
.my_work1 img, .my_work2 img{
 display: block;
margin-left: auto;
margin-right: auto;
}
.row1 {
 display: flex;
 padding-top: 30px;
 padding-bottom: 30px;
 background: pink;
 width: 100%;
}

.my_work3 {
 padding: 50px;
 background: #cca2e1;
}

 .my_work1 img, .my_work2 img, .my_work3 img {
 width: 400px;
 height: 300px;
}

footer {
 display: flex;
 justify-content: center;
 padding-bottom: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

footer div{
 padding-left: 1em;
}
.toggle{
 display: none;
}

.skills{
 padding: 20px;
 margin-bottom: 20px;
 background: #a5bdfd;
}
.skills h2 {
 text-align: center;
}

.skills ul li{ 
 list-style-type: none;
 border: 2.2px solid black;
 padding: 1em;
 display: inline-flex;
 margin-left: 1em;
 margin-bottom: 1em;
}
.skills ul {
 text-align: center;
}
/* --------------------- */
@media all and (max-width: 800px) {
 .nav_list_item{
  display: none;
 }
 .about_me_desc {
  width: 100%;
  margin-left: 1.4em;
 }

 .about_me_desc img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .accent1 {
  display: none;
 }

 .row1 {
  /*   display: flex; */
  flex-direction: column
 }

 .my_work1, .my_work2 {
  width: 100%;
 }

 .my_work3 {
  width: 100%;
  padding: 0;
 }
 .about_me_desc img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
  padding-left: 0;
 }
 .my_work1 img,
 .my_work2 img,
 .my_work3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
 }
 .fa {
  font-size: 36px;
 }

 .toggle {
  display: flex;
  position: relative;
  margin-left: auto;
  cursor: pointer;
}
.nav,
.nav_list_item{
  flex-direction: column;
}
.nav_right{    
 margin-left:0;
}
}