html{
  background-color: #e7dfdd;
}
.about_me_desc {
  padding-top: 3vh;
}
/* img {

} */
.responsive {
  max-width: 100%;
  width: 550px;
  height: 350px;
  margin-bottom: 10px;
  float: left;
  padding-right: 1em;
}
.description {
  padding-top: 1vh;
  margin: 1em;
}
.intro{
  margin-bottom: 6px;
  margin-top: 0px;
  line-height: 22px;
}

.intro1{
  margin-top: 5px;
  margin-bottom: -25px;

}

.skills{
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 40vw;
  justify-content: center;
  padding-top: 5px;
}
ul.skills li{
  list-style: none;
  border: 1px solid #373737;
  margin: .3em;
  padding: .2em;
  box-shadow: 5px 5px #C0B283;

}
@media only screen and (max-width: 1055px) {
  .description {
    padding-top: .5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  .intro{text-align: center}
  .skills{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: center;
  }

}

@media only screen and (max-width: 939px) {
  .about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .responsive {
    max-width: 100%;
    width: 550px;
    height: 350px;
    padding-right: 1em;
  
  }
  .description {
    padding-top: .5vh;
  
  }
  .intro{text-align: center}

}
