@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC");

.contact_whole {
  padding: 0.6em;
  font-family: "Noto Serif SC", serif;
}
h3 {
  color: grey;
  font-size: 20pt;
  line-height: 1.5em;
}
h4{
    font-size: 15pt;
    line-height: .05em;
}
.contact_whole li {
  list-style: none;
}
.contact_text li a {
  color: black;
}

.sameline{
  display: flex;
  flex-direction: row;

}

.contact-two{
    color: black;
  width: 400px;
 
}

.contact-two ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 726px) {
 .sameline{
    display: block;
  }
  .contact-one{
    width: 100%;

  }
  
  .contact-two{
    width: 70vw;
    margin-right: 10vw;
  }
  }
  
